/* Basscss Color Base */

body {
  color: var(--main-headline-color);
  background-color: var(--background-color);

  // Dark/Light Mode Transition
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing), background-color var(
                  --duration
  ) var(--timing);
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
