@mixin color-palette() {

  --white: #ffffff;
  --whiteish-01: #fafafa;
  --whiteish-02: rgba(255, 255, 255, 0.6);

  --black: #000;
  --dark-black: #121212;
  --darskish-black: #141414;
  --mid-black: #171717;
  --dark-gray: #333;
  --mid-gray: #777;
  --light-gray: #ccc;
  --lighter-gray: #eee;

  --blue: #0076df;
  --bitcoin: #f7931a;

  --darken-1: rgba(#000,.0625);
  --darken-2: rgba(#000,.125);
  --darken-3: rgba(#000,.25);
  --darken-4: rgba(#000,.5);
  --lighten01: rgba(#fff,.05);
  --lighten02: rgba(#fff,.07);
  --lighten03: rgba(#fff,.08);
  --lighten04: rgba(#fff,.09);
  --lighten06: rgba(#fff,.11);
  --lighten08: rgba(#fff,.12);
  --lighten12: rgba(#fff,.14);
  --lighten16: rgba(#fff,.15);
  --lighten24: rgba(#fff,.16);
}

@mixin dark-style() {
  @include color-palette;

  // General
  --background-color: var(--dark-black);
  --main-headline-color: var(--whiteish-01);
  --main-text-color: var(--whiteish-01);
  --link-color: var(--bitcoin);
  --link-hover-color: var(--bitcoin);

  // Header
  --header-color: var(--whiteish-01);
  --nav-color: var(--whiteish-02);
  --nav-link-color: var(--whiteish-01);

  // Homepage
  --summary-color: var(--whiteish-01);
  --meta-color: var(--whiteish-02);

  // Forms
  --field-light-bg-color: var(--mid-black);
  --field-light-color: var(--white);
  --field-light-focus-color: var(--bitcoin);
  --send-button-bg-color: var(--dark-gray);
  --send-button-color: var(--white);

  // Footer
  --footer-bg-color: var(--dark-black);
}

@mixin light-style() {
  @include color-palette;

  // General
  --background-color: white;
  --main-headline-color: var(--dark-gray);
  --main-text-color: var(--dark-gray);
  --link-color: var(--blue);
  --link-hover-color: var(--dark-gray);

  // Header
  --header-color: var(--dark-gray);
  --nav-color: var(--mid-gray);
  --nav-link-color: var(--dark-gray);

  // Homepage
  --summary-color: var(--dark-gray);
  --meta-color: var(--mid-gray);

  // Forms
  --field-light-bg-color: var(--white);
  --field-light-color: var(--black);
  --field-light-focus-color: var(--blue);
  --send-button-bg-color: var(--blue);
  --send-button-color: var(--white);

  // Footer
  --footer-bg-color: var(--white);
}

:root, :root[data-theme="light"] {
  @include light-style;
}

:root[data-theme="dark"] {
  @include dark-style;
}

@media (prefers-color-scheme: dark) {
  :root, :root[data-theme="dark"] {
    @include dark-style;
  }

  :root[data-theme="light"] {
    @include light-style;
  }
}

#theme-toggle{
  border: 0;
}
